# Bỏ qua thư mục môi trường ảo
env/
.venv/
venv/

Env3_11/


# Bỏ qua các file không cần thiết khác
__pycache__/
*.pyc
.DS_Store


# Bỏ qua tệp cấu hình chứa thông tin nhạy cảm
config.json
.env
QA.md
reply_2.docx
ABOUT_PROJECT.md
prompt.md